$backgroundColor: #F0F0F3;
$topShadow: #F7F7F9;
$bottomShadow: #E0E0E7;
$calculatorOutputContainerBackgroundColor: #222121;
$calculatorOutputContainerMainContentColor: #F2F2F4;
$calculatorOutputContainerContentColor: #52617F;
$calculatorDigitsColor: #7C92BC;
$calculatorOperationsColor: #7E6BF2;
$calculatorMathOperationsColor: #C2C2C4;
$calculatorEqualsButtonBackgroundColor: #2DD3C5;
$calculatorButtonColor: #fff;
$calculatorDotColor: #525252;
$calculatorBackgroundColor: #F0F0F3;
$ObjectsColor: #F0F0F3;
$calculatorSizeChangeThumbBackgroundColor: #F1F1F4;